/* My normalize */
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin: 0;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #EFEFEF;
  font-family: roboto, helvetica, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-text-decoration-skip: objects;
  cursor: pointer;
}
a:hover,
a:active,
a:focus,
button:focus {
  outline-width: 0;
}
h2 {
  margin: 20px 0;
}
p {
  margin: 15px 0;
}
img {
  display: block;
}
svg:not(:root) {
  overflow: hidden;
}

/* Header */
.header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: #1976D2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 3;
}

.logo {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 27px 20px 20px;
  display: block;
  color: #FAFAFA;
  letter-spacing: -7px;
  /* Really hacky, I don't like it */
  line-height: 0.8;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  will-change: background-color, color;
}

/* Desktop navigation */
.nav {
  display: flex;
  position: relative;
}

.nav__position {
  position: absolute;
  content: '';
  top: calc(100% - 2px);
  left: 0;
  background-color: #FAFAFA;
  width: auto;
  height: 2px;
  transition: transform 300ms ease-in-out, width 300ms ease-in-out;
  will-change: transform, width;
}

.nav__item {
  padding: 20px;
  text-transform: uppercase;
  color: #FAFAFA;
  position: relative;
  display: block;
  transition: background-color 300ms ease-in-out;
  white-space: nowrap;
}

.nav__item--hover,
.logo:hover {
  background-color: #1E88E5;
}

/* Mobile navigation */
.btn-open-nav {
  position: relative;
  display: none;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  font-size: 1rem;
  color: #FAFAFA;
  margin: 5px 0;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #FAFAFA;
  border-radius: 4px;
}

.navigation--mobile {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(84, 100, 110, 1);
  z-index: 3;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transform-origin: top center;
  will-change: transform, opacity;
}

.navigation--mobile.show {
  transform: translateY(0);
  opacity: 1;
}

.nav__item--mobile {
  color: #FAFAFA;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  background-color: transparent;
  will-change: background-color;
  transition: background-color 300ms ease-in-out;
}
.nav__item--mobile:focus {
  background-color: rgba(250, 250, 250, 0.088);
}

/* Main content */
.main-content {
  overflow: auto;
  height: 80vh;
  position: relative;
  z-index: 2;
}

/* Banner */
.banner {
  padding: 150px 0;
  width: 100%;
  background: linear-gradient(145deg, #0D47A1, #42A5F5);
  overflow: hidden;
}

.parallax {
  position: relative;
  will-change: transform, opacity;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__headline {
  color: #FAFAFA;
  font-size: 3rem;
  margin: 5px 0;
  text-align: center;
  line-height: 1.4em;
}

.banner__subtitle {
  color: #A1B5C2;
  text-align: center;
  font-size: 1.7rem;
}

.btn {
  padding: 20px 25px;
  border-radius: 2px;
  font-size: 1.7rem;
  position: relative;
  margin: 40px auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: inline-block;
  transition: box-shadow 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out
}
.btn:hover {
  box-shadow: 0 8px 8px rgba(0,0,0,0.24),0 0 8px rgba(0, 0, 0, 0.12);
}
.btn--white {
  background-color: rgba(250, 250, 250, 0.9);
  color: #1565C0;
}
.btn--white:hover {
  color: #1E88E5;
  background-color: #FAFAFA;
}
.btn--blue {
  color: rgba(250, 250, 250, 0.9);
  background-color: #1E88E5;
}
.btn--blue:hover {
  color: #FAFAFA;
  background-color: rgb(25, 118, 210);
}

.section {
  margin: 100px auto;
  position: relative;
  display: flex;
  max-width: 1440px;
  flex-flow: column wrap;
  align-items: center;
  padding: 0 5%;
}
.section > h1 {
  align-self: flex-start;
  font-size: 5rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.1);
  line-height: 1.4;
}

/* 3 main skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.skills__item {
  padding: 25px 30px;
  margin: 25px 0;
  background-color: #FAFAFA;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);
  border-radius: 2px;
}
.skills__item--three {
  max-width: 30%;
}
.row__item--two {
  min-width: 45%;
}
.skills__item > h2 {
  text-align: center;
  white-space: nowrap;
}
.skills__item > figure {
  display: flex;
  justify-content: center;
}
.skills__item > figure > svg {
  width: 200px;
}

/* Showcase */
.showcase {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 25px 0;
}
.article {
  width: calc(33.33% - 6px);
  height: 300px;
  margin: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.article::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.85);
  z-index: 3;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.article:hover::after,
.artice:focus::after,
.article:active::after {
  opacity: 1;
}
.article__thumb {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.article__thumb > img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.article:hover > .article__caption {
  opacity: 1;
}
.article__caption {
  position: absolute;
  z-index: 4;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #FAFAFA;
  transition: opacity 300ms ease-in-out;
}
.article__caption figcaption {
  font-weight: bold;
  margin-top: 1rem;
  font-size: 2rem;
}
.article__caption p {
  margin-top: 1rem;
}
.ctas {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ctas path {
  fill: #FAFAFA;
  transition: fill 300ms ease-in-out;
}
.ctas a {
  margin: 0 5%;
  display: block;
}
.ctas a:hover path {
  fill: #1976D2;
}
.tags {
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.tag {
  padding: 3px 10px;
  margin: 5px 3px;
  font-size: 0.8rem;
  border: 1px solid #fafafa;
  border-radius: 10px;
}

/* Footer */
.main-footer {
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  font-size: 1.1rem;
  padding: 0 5%;
  color: #FAFAFA;
  background-color: #263238;
}
.main-footer > span {
  width: 100%;
  display: block;
  font-size: 0.9rem;
  padding: 15px 0;
}
.social {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons {
  display: flex;
}
.icons > a {
  padding: 15px;
}
.icons svg {
  height: 30px;
  widht: 30px;
}
.icons path {
  fill: #5C707A;
  transition: fill 300ms ease-in-out;
}
.icons > a:hover path {
  fill: #1976D2;
}

/* Responsive */

@media screen and (max-width: 1000px) {
  .article {
    width: calc(50% - 6px);
  }
  .skills__item {
    max-width: 32%;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }

  .btn-open-nav {
    display: flex;
  }

  .navigation--mobile {
    display: flex;
  }

  .banner__headline {
    font-size: 2.5rem;
  }
  .banner__subtitle {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 1.5rem;
  }
  .skills {
    flex-direction: column;
    align-items: center;
  }
  .skills__item {
    max-width: 80%;
  }
  .section > h1 {
    font-size: 4rem;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  html {
    line-height: 1.75em;
  }
  .banner {
    padding: 50px 0;
  }
  .banner__headline {
    text-align: center;
  }
  .banner__headline > span {
    display: block;
  }
  .banner__subtitle {
    font-size: 1.5rem;
  }
  .banner__subtitle > span:nth-child(2) {
    display: none;
  }
  .banner__subtitle > span {
    display: block;
    text-align: center;
  }
  .btn {
    font-size: 1rem;
  }
  .section {
    padding: 3%;
  }
  .section > h1 {
    font-size: 2.3rem;
  }
  .article {
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  }
  .skills__item {
    max-width: 100%;
  }
  .showcase {
    margin: 0;
  }
}
